.root {
    -swatch-yellow: #FFD862;
    -swatch-orange: #FFB662;
    -swatch-green: #5FCBA0;
    -swatch-blue: #569DF3;
    -swatch-purple: #7066F1;
    -swatch-pink: #FF779D;
    -swatch-red: #FF5B5B;
    
    -swatch-10: #FFFFFF;
    -swatch-20: #F2F2F2;
    -swatch-30: #E5E5E5;
    -swatch-40: #D8D8D8;
    -swatch-50: #9DAEC7;
    -swatch-60: #748195;
    -swatch-70: #495261;
    -swatch-80: #2B3039;
    -swatch-90: #000000;
    
    -fx-background-color: -swatch-20;
}

.button {
    -fx-background-color: -swatch-10;
    -fx-cursor: hand;
}

.header {
    -fx-background-color: -swatch-30;
}

.cue {
    -fx-background-color: -swatch-30;
}

.cue:hover {
    -fx-background-color: -swatch-40;
}

.cue.loaded {
    -fx-background-color: -swatch-50;
    -fx-cursor: hand;
}

.cue.loaded:hover {
    -fx-background-color: derive(-swatch-50, 30%);
}

.cue .label {
    -fx-text-fill: -swatch-10;
}

.cue.loaded.yellow {-fx-background-color: -swatch-yellow;}
.cue.loaded.yellow:hover {-fx-background-color: derive(-swatch-yellow, 30%);}

.cue.loaded.orange {-fx-background-color: -swatch-orange;}
.cue.loaded.orange:hover {-fx-background-color: derive(-swatch-orange, 30%);}

.cue.loaded.green {-fx-background-color: -swatch-green;}
.cue.loaded.green:hover {-fx-background-color: derive(-swatch-green, 30%);}

.cue.loaded.blue {-fx-background-color: -swatch-blue;}
.cue.loaded.blue:hover {-fx-background-color: derive(-swatch-blue, 30%);}

.cue.loaded.purple {-fx-background-color: -swatch-purple;}
.cue.loaded.purple:hover {-fx-background-color: derive(-swatch-purple, 30%);}

.cue.loaded.pink {-fx-background-color: -swatch-pink;}
.cue.loaded.pink:hover {-fx-background-color: derive(-swatch-pink, 30%);}

.cue.loaded.red {-fx-background-color: -swatch-red;}
.cue.loaded.red:hover {-fx-background-color: derive(-swatch-red, 30%);}

.cue.loaded.singleton {
    -fx-background-color: -swatch-blue;
    -fx-cursor: hand;
}

.cue.loaded.singleton:hover {
    -fx-background-color: derive(-swatch-blue, 30%);
}
